/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a font throughout the entire page */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-size: 2.5em;
    margin-left: 22px;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.back-arrow {
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.container {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}