h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type=text], input[type=email], input[type=password], input[type=datetime-local], input[type=date], select, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type=submit]:hover {
    background-color: #0056b3;
}

/* Style for fieldset and legend */
fieldset {
    border: 2px solid #ddd; /* Light grey border */
    padding: 10px 20px; /* Padding inside the fieldset */
    margin-top: 20px; /* Space above the fieldset */
    border-radius: 5px; /* Rounded corners for modern look */
    background-color: #fafafa; /* Light background color for contrast */
}

legend {
    font-size: 1.2em; /* Slightly larger font size for the legend */
    font-weight: bold; /* Make the legend text bold */
    color: #333; /* Dark color for text for better readability */
    padding: 0 10px; /* Padding around the legend text */
    width: auto; /* Auto width based on content size */
}

/* Style for individual checkbox items */
.checkbox-group {
    margin-bottom: 10px; /* Space between checkbox groups */
    display: flex; /* Use flexbox for aligning label and checkbox */
    align-items: center; /* Align items in the middle vertically */
}

input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label */
    cursor: pointer; /* Pointer cursor on hover */
}

.checkbox-group label {
    cursor: pointer; /* Pointer cursor on hover over the label */
    display: block; /* Ensure label takes the full width for easier clicking */
    margin-bottom: 0; /* Remove margin below the label */
}