/* General Styles */
.div-container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}

.div-container h2, .div-container h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.div-container p {
    font-size: 18px;
}

h3 {
    margin-top: 20px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.action-btn-container {
    text-align: center; /* Center the button container if it's at the top of your view */
    margin: 20px 0; /* Add some margin around the container for spacing */
    
}

.action-btn {
    display: inline-block; /* Align width to content */
    padding: 10px 15px; /* Add some padding around the text */
    background-color: #007bff; /* Use a distinct color */
    color: #ecf0f1; /* Text color that stands out on the background */
    font-size: 14px;
    text-decoration: none; /* Remove underline from link */
    border-radius: 3px; /* Optionally round the corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-weight: bold; /* Make the button text bold */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-btn:hover,
.action-btn:focus {
    background-color: #0056b3; /* Darken the button color on hover/focus */
    text-decoration: none; /* Ensure underline doesn't reappear on hover */
    color: white; /* Keep text color consistent on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.div-container ul {
    list-style: none;
    padding: 16px;
    margin: 0;
}

.div-container li {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.div-container li:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.view-detail {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    display: block;
    width: 100%;
}

.div-container a:hover {
    color: #007bff;
}

/* Specific Styles for Comptes */
.compte-solde-positive {
    color: green;
}

.compte-solde-negative {
    color: red;
}

/* Modern visual adjustments */
.item-info {
    display: flex;
    flex-direction: column;
}

.item-details {
    margin-left: 15px; /* Add space between icon and text */
}

/* Info icons */
.info-icon {
    font-size: 24px;
    width: 30px; /* Ensure icon size */
}

/* Solde indicator using pseudo-elements */
.compte-solde-positive::before,
.compte-solde-negative::before {
    content: '•';
    font-size: 24px;
    vertical-align: middle;
    padding-right: 10px;
}

.operation-positive::before,
.operation-negative::before {
    content: '•';
    font-size: 24px;
    vertical-align: middle;
    padding-right: 10px;
}

/* Specific Styles for Comptes */
.operation-positive {
    color: green;
}

.operation-negative {
    color: red;
}

