/* Container holding the search bar and the 'Nouveau Client' button */
.search-container {
    display: flex;
    justify-content: space-between; /* Space out children elements */
    margin: 0px 11px 22px 22px;
}

/* Styling the search bar */
.search-bar {
    position: relative;
    flex-grow: 1; /* Take available space */
    margin-right: 10px; /* Optional spacing between search bar and button */
}

/* Input field within the search bar */
.search-input {
    width: 100%;
    height: 100%;
    padding: 10px 35px 10px 15px; /* Add padding for the search icon */
    margin: 0;
    border-radius: 15px; /* Rounded corners */
    border: 2px solid #ddd; /* Match border weight with button */
    font-size: 16px;
}

/* Search button with the icon */
.search-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: text;
    outline: none; /* Remove the focus outline */
}

/* Search icon within the button */
.search-btn i {
    color: #007bff;
    font-size: 20px;
}

/* 'Nouveau Client' button styles */
.new-client-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px; /* Same as input field for consistency */
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px; /* Match input field text size */
    white-space: nowrap; /* Keep the text on one line */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
}

.new-client-btn:hover {
    background-color: #0056b3;
}

/* Client List */
.client-list {
    list-style: none;
    padding: 0 22px;
}

.client-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.client-item:hover {
    background-color: #c8c8c8;
}

.client-info {
    margin: 0;
    padding: 0;
    list-style: none;
}

.client-info li {
    margin-bottom: 5px;
}

.client-name {
    font-weight: bold;
}

.client-conseiller, .client-tel, .client-mail {
    color: #666;
    font-size: 14px;
}

/* Make the clickable area more apparent for accessibility */
.client-item a {
    color: inherit; /* Make the link color match the text */
    text-decoration: none; /* No underline */
    display: block; /* Make the link fill the container */
}
