/* Navbar Styles */
.navbar {
    background-color: #004d99; /* A nice shade of dark blue */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-logo img {
    height: 50px;
    display: block; /* Remove bottom space under the image */
}

/* Styling navbar links */
.navbar-links a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px; /* Adjust size as needed */
    border-radius: 5px; /* Rounded corners for the links */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for links */
.navbar-links a:hover, .navbar-links a:focus {
    background-color: #3498db; /* Slightly lighter blue */
    color: #ffffff; /* Keep text color white for contrast */
    text-decoration: none; /* No underline on hover */
}

/* Active link styling */
.navbar-links a.active {
    background-color: #2980b9; /* Even lighter blue for the active link */
    color: #ffffff;
}

.navbar-user {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.navbar-user img {
    height: 32px;
    margin-right: 10px;
}

.navbar-user {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff; /* Light background for the dropdown */
    min-width: 200px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensures the border-radius applies to children */
    top: 125%;
    z-index: 1;
}

.dropdown-content a {
    color: #333333; /* Dark text for better readability */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: block;
}

.icon {
    margin-right: 10px;
}

.dropdown-content .logout {
    color: red;
}

.dropdown-divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 5px 0;
}
