
.week-navigation {
    text-align: center;
    margin: 20px 0;
}

.week-navigation a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.week-navigation a:hover {
    background-color: #e9ecef;
}

.week-calendar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
}

.day {
    flex: 1;
    border: 1px solid #ddd;
    margin: 0 5px;
    padding: 10px;
}

.items {
    margin-top: 20px;
}

.item {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #eee;
}

.item.tache a, .item.rendezvous a{
    color: inherit; /* Make the link color the same as its parent */
    text-decoration: none; /* Remove underline */
    display: block; /* Make the link fill the container */
}

.item.tache:hover, .item.tache:focus {
    background-color: #e09292; /* Optional: slight background change on hover/focus */
}

.item.rendezvous:hover, .item.rendezvous:focus {
    background-color: #7c8dff; /* Optional: slight background change on hover/focus */
}

.tache {
    background-color: rgba(221, 72, 72, 0.867);
    border-radius: 4px;
}

.rendezvous {
    background-color: #5b6fee;
    border-radius: 4px;
}

.add-task-button-container {
    text-align: center; /* Center the button container if it's at the top of your view */
    margin: 20px 0; /* Add some margin around the container for spacing */
}

.add-task-button {
    display: inline-block; /* Align width to content */
    padding: 10px 15px; /* Add some padding around the text */
    background-color: #007bff; /* Use a distinct color */
    color: white; /* Text color that stands out on the background */
    text-decoration: none; /* Remove underline from link */
    border-radius: 5px; /* Optionally round the corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-weight: bold; /* Make the button text bold */
}

.add-task-button:hover,
.add-task-button:focus {
    background-color: #0056b3; /* Darken the button color on hover/focus */
    text-decoration: none; /* Ensure underline doesn't reappear on hover */
    color: white; /* Keep text color consistent on hover */
}